<h1>Create a new celebrity</h1>

div class="create-form">
 <form method="POST" action="/celebrities/create">
    <label for='name'>Name</label>
    <input type='text' name='name'/>

    <label for='propellers'>Ocuppation</label>
    <input type='number' name='Ocuppation' />

    <label for='maxSpeed'>catchPhrase</label>
    <input type='number' name='catchPhrase' />

    <button type='submit' class="but-list">Submit</button>
  </form>

</div>

