<h1>Create a new celebrity</h1>

<div class="create-form">
 <form method="POST" action="/celebrities/create">
    <label>Name</label>
    <input type='text' name='name'/>

    <label>Ocuppation</label>
    <input type='text' name='Ocuppation' />

    <label>catchPhrase</label>
    <input type='text' name='catchPhrase' />

    <button type='submit' class="but-list">Add a celebrity</button>
  </form>

</div>

