<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies and celebrities</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <header>
    <nav>
      <ul>
        <li><a href="/celebrities/"/>celebrities</a></li>
        <li><a href="/celebrities/create"/>Add new</a></li>
      </ul>
      <ul>
        <li><a href="/movies/"/>movies</a></li>
        <li><a href="/movies/create"/>Add new</a></li>

      </ul>
      <ul>
        <li><a href="/"/>home</a></li>
        <button onclick="history.back()">Go back</button>
        
      </ul>
    </nav>
  </header>


  <body>
    <div class="container">
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>